/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


  .card {
    display: grid;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    grid-template-rows: 2;
    grid-template-columns: 1;
    /* border: 3px solid red; */
    width: 20rem;
    height: 31.063reml;
    background: white;
    border-radius: 1rem;
    padding: 0.313rem;
  }

  .qrcode{
    border-radius: 1rem;
    padding: 0.313rem;

  }

  .qr-description{
    padding: 1.5rem;
    
  }

  .qr-description h3{
    position: relative;
    padding-bottom: 1rem;
    width: 90%;
    text-align: center;
  }

  .qr-description p{
    font-size: 1rem;
    color: hsl(220, 15%, 55%);
    text-align: center;
  }